[submodule "HSBenchScaling"]
	path = HSBenchScaling
	url = https://github.com/rrnewton/HSBenchScaling.git
[submodule "bench_results"]
	path = bench_results
	url = https://github.com/rrnewton/monad-par-results.git
